body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.nav-item .nav-link{
    color: black;
    font-weight: bold;
    top: 0;
    
}
/* blur nav */
.navbar-blur {
  background-color: #F4F4F2;
  /* Fallback background color */
  transition: background-color 0.3s ease-in-out;
  /* Fallback transition */
}

/* Modern browsers supporting backdrop-filter */
@supports (backdrop-filter: blur(8px)) {
  .navbar-blur {
    backdrop-filter: blur(8px);
    /* Apply backdrop filter */
  }
}
.about_content{
    font-family: 'Anton', sans-serif;
    color : black;
}
/* animation home */
.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spare-time {
  font-size: 1rem;
  letter-spacing: 1rem;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  72.5% {
    top: -12.25rem;
  }
}
/* card about skill */
.card_hover{
   transition: all 0.5s;
}
.card_hover:hover{
transform: scale(1.1);
}
/* project */
.card_bg:hover{
  background-color: #F4F4F2;
}
.card_img{
  transition: all 0.5s;
}
.card_img:hover{
transform: scale(1.2);
}
/* like button */
.icon-hover{
  transition: all 0.5s;
}
.icon-hover:hover{
  transform: scale(1.2);
}